# Segredos
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# POC
poc_descompilacao/output/
poc_descompilacao/tests/*.png
!poc_descompilacao/tests/imagens/
!poc_descompilacao/tests/imagens/*.png
!poc_descompilacao/tests/.gitkeep

# Sistema
.DS_Store
Thumbs.db
